<div class="container">
  <h3 mat-dialog-title>{{title}}</h3>
  <form class="mat-dialog-content" #formControl="ngForm" autocomplete="off">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv">
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Oznaka" [(ngModel)]="data.oznaka" name="oznaka">
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Preduzeće</mat-label>
        <mat-select [(ngModel)]="data.preduzece" [compareWith]="focusOnSelected" name="preduzece" required>
          <mat-option *ngFor="let p of (preduzece$ | async)" [value]="p">
            {{p.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">Poništi</button>
      <button mat-raised-button color="accent" (click)="save()">Sačuvaj</button>
    </div>
  </form>
</div>
